* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: rgb(237, 233, 228);
}

main {
  height: 80vh;
}

/* --------NAV BAR SECTION-------- */

#logo {
  width: 70%;
  border-radius: 50%;
}

nav {
  height: 10vh;
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  align-items: center;
  padding: 0 16px;
}

#botao-visita {
  background-color: rgb(4, 4, 24);
  color: #75CFCA;
  font-size: 15px;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  grid-column: 3/4;
  justify-self: end;
  border-radius: 50px 15px;
}


/*  --------MORADIA SECTION-------- */

#a-maior-moradia {
  background-image: url("./fotinhas/moradia.jpg");
  height: 500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#moradia {
  font-family: monospace;
  text-align: center;
  font-size: 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #75CFCA;
  position: relative;
}

/* --------QUEM SOMOS SECTION-------- */

.about {
  display: grid;
  grid-template-columns: 350px 1fr;
}

#quem-somos-nos {
  padding: 100px 40px;
}

h1 {
  font-family: monospace;
}

#sobre-nos {
  font-family: monospace;
  font-size: 20px;
  color: rgb(170, 170, 187);
  border-radius: 60%;
  padding-top: 15%;
  padding-right: 50px;
  text-align: justify;
}

#h1-quem-somos {
  color: #75CFCA;
  font-size: 60px;
  padding: 60px 60px;
  border-radius: 90px 25px;
}


/* --------EVENTOS SECTION-------- */

#eventos {
  padding: 8%
}

#h1-eventos {
  font-size: 50px;
  text-align: center;
  background-color: rgb(35, 35, 54);
  color: #75CFCA;
  padding: 60px 60px;
  border-radius: 25px 90px;
}

#p-eventos {
  font-size: 20px;
  padding: 75px;
  text-align: center;
  font-family: monospace;
  color: rgb(170, 170, 187);
}

#galery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  padding-bottom: 10%;
}

#foto-da-galery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

#p-gallery {
  font-size: 15px;
  text-align: center;
  font-family: monospace;
  color: rgb(170, 170, 187);
}

/* --------LAZER SECTION-------- */

.lazer {
  padding: 8%;
}

#h1-atividades {
  font-size: 50px;
  text-align: center;
  background-color: rgb(35, 35, 54);
  color: #75CFCA;
  padding: 60px 60px;
  border-radius: 50px 15px;
}

#p-lazer {
  font-size: 20px;
  padding: 75px;
  text-align: center;
  font-family: monospace;
  color: rgb(170, 170, 187);
}

#session-fotos-atividades {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

#foto-das-atividades {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}

#img-description {
  text-align: center;
  font-size: 15px;
  font-family: monospace;
  color: rgb(170, 170, 187);
}


/* --------ONDE MORAR SECTION-------- */

#h1-form {
  font-family: monospace;
  font-size: 50px;
  text-align: center;
  color: #75CFCA;
  background-color: rgb(35, 35, 54);
  padding: 60px 60px;
  border-radius: 25px 90px;
}

#select-cidade, #label-cidade, #label-valor-aluguel {
  background-color: rgba(255, 255, 255, 0.349);
  font-size: 15px;
  font-family: monospace;
}

#onde-morar {
  position: relative;
  padding: 10%;
  color: #75CFCA;
  height: 500px;
  width: 100vw;
}

#form-escolha {
  position: absolute;
  top: 70%;
  left: 25%;
  transform: translate(-50, -50%);
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.349);
  text-align: center;
}

select{
  text-align: center;
  color: rgb(170, 170, 187);
}

/* --------STYLES COMUM PARA OS DOIS FORMS -------- */

#form-escolha,
#form-info {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}

#form-escolha select,
#form-info select,
#form-escolha input[type="text"],
#form-info input[type="text"],
#form-escolha textarea,
#info textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.349);
  box-sizing: border-box;
}

#form-escolha input[type="submit"]{
  width: 30%;
  font-size: 12px;
  font-family: monospace;
  background-color: rgb(100, 192, 188);
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button{
  width: 30%;
  font-size: 12px;
  font-family: monospace;
  background-color: rgb(100, 192, 188);
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* --------AGENDE UMA VISITA SECTION-------- */

#agende-uma-visita {
  padding-top: 30%;
  padding-bottom: 15%;
}

#h1-visita {
  color: rgb(100, 192, 188);
  font-size: 60px;
  text-align: center;
  position: relative;
  padding-bottom: 10%;
  font-family: monospace;
  background-image: url("./fotinhas/todos-juntos.avif");
  object-fit: cover;
  height: 500px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

#p-visita {
  font-family: monospace;
  font-size: 20px;
  padding-top: 10%;
  padding-bottom: 8%;
  text-align: center;
  color: rgb(170, 170, 187);
}

.visita {
  font-size: 15px;
  font-family: monospace;
  color: rgb(170, 170, 187);
  text-align: center;
}

#form-info {
  background-color: rgb(234, 229, 223);
  text-align: center;
}


textarea {
  width: 100%; 
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* --------FOOTER SECTION-------- */

footer ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  background-color: rgb(234, 229, 223);
  padding: 30px;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 10px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #783e84;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}



/*  --------MEDIA QUERY-------- */



@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  #h1-eventos,
  #h1-atividades,
  #h1-form,
  #h1-visita {
    font-size: 12px;
    padding: 10%;
  }

  #logo {
    width: 50%;
  }

  #moradia,
  #p-visita{
    font-size: 12px;
  }

  #a-maior-moradia {
    background-image: url("./fotinhas/moradia.jpg");
    height: 200px;
    width: 100vw;
  }

  .about {
    display: grid;
    grid-template-columns: 150px 1fr 1fr;
  }

  #sobre-nos {
    font-size: 10px;
    padding: 35px 30px 5px 15px;
    grid-column: 2/4;
  }

  #h1-quem-somos {
    font-size: 12px;
    padding-left: 30px;

  }
  #p-eventos,
  #p-lazer,
  #p-gallery,
  #img-description,
  #botao-visita {
    font-size: 12px;
    text-align: center;
  }

  select{
    font-size: 12px;
  }

.visita{
  font-size: 12px;
}

#form-escolha,
#form-info{
  width: 50%;
}
button{
  width: 90%;
}

#form-info input[type="submit"] {
  font-size: 5px;
  padding: 2%;
}

#form-escolha {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
#form-info {
  top: 30%;
}

}


@media screen and (min-device-width : 481px) and (max-device-width : 800px) {
  /* tablets */

  #h1-quem-somos {
    font-size: 20px;
  }

  #moradia{
    font-size: 20px;
  }

  .about {
    display: grid;
    grid-template-columns: 200px 100px 1fr;
  }

  #sobre-nos {
    padding-top: 55px;
    grid-column: 3/4;
  }

  #form-escolha {
    top: 70%;
  }
}


@media screen and (min-device-width : 1200px) {
  /* computadores */
}





 /*CSS FOR MORADIA.HTML */

#h1-kitnet {
  padding: 20% 5% 10%;
  text-align: center;
  color: rgb(170, 170, 187);
}

#kitnet {
  text-align: center;
  color: rgb(170, 170, 187);
}

.main-moradia {
  height: 80vh;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px; 
  grid-gap: 20px;
}


.kit {
  width: 100%; 
  max-width: 300px;
  height: auto; 
  object-fit: cover; 
}


